body {
    font-family: Arial;
    color: #333;
}

main {
    margin: auto;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: row-reverse; */
}

h2 {
    text-align: center;

}

.menulink {
    font-weight: 700;
}

.navigation-two {
    background-color: #efefef;
    overflow: hidden;
    padding: 30px;
    text-align: center;
}

.navigation-two ul {
    list-style: none;
    margin: 0 2px;
    padding: 0;
    flex-direction: column;
    text-align: center;
}

.navigation-two li {
    display: inline-flex;
    justify-content: space-around;   
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    text-align: center;
}

a:link { 
    text-decoration: none; 
}

a:hover {
    color: blueviolet;
}

.sm{
    font-weight:100;
}

.content {
    display: flex;
    text-align: center;
}

h1 {
    text-align: center;
    align-content: center;
}

ul {
    list-style-type: none;
}

.hide-menu {
    display: none;
}

.show-menu {
    display: flex;

}